#  Variable and Data Type in Python

Creating variable

In [14]:
x = 5
print(x)

5

In [15]:
a = 10
b = 2.5
c = 'Abhay'
print(a,b,c)

10 2.5 Abhay

In [16]:
y = "we are learning machine learning"
print(y)

we are learning machine learning

In [17]:
# its check how many variable we have  still now
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          float    2.5
c          str      Abhay
x          int      5
y          str      we are learning machine learning

# Rules for Python variable

#Rules for Python varlables:
1)A variabla name must start with a letter or the underscore character
2)A variable name cannot start with a number
3)A variable rame can only contain alpha-numeric characters
and underscores (A-Z, 8-9, and
4)Variable names are case-sensitive
(age, Age and AGE are three different variablesS)
5)A variable name cannot be any of the python keywords.

1)A variabla name must start with a letter or the underscore character

In [1]:
a = 3
print(a)

3

In [2]:
apple_box = 3
print(apple_box)

3

In [3]:
_ = 5
print(_)

5

In [4]:
_a = 7
print(_a)

7

2)A variable name cannot stert with a nurber

In [6]:
2 = 12
print(2)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1361973803.py, line 1)

In [7]:
1==23
print(1)

1

In [ ]:
1_apple =3
print(1_apple)

SyntaxError: invalid decimal literal (2870557126.py, line 1)

3)A variable name can only contain alpha-numeric characters
and underscores (A-Z, 8-9, and

In [10]:
a_1 = 34
print(a_1)

34

In [11]:
abc233xyz =3.5
print(abc233xyz)

3.5

In [12]:
&$% = 3
print(&$%)

SyntaxError: invalid syntax (1103374149.py, line 1)

In [14]:
abc&$% =3
print(abc&$%)

SyntaxError: invalid syntax (3025526215.py, line 1)

4)Variable names are case-sensitive
(age, Age and AGE are three different variablesS)

In [15]:
age = 24
Age = 23
AGE = 67
print(age)
print(Age)
print(AGE)

24
23
67

5)A variable name cannot be any of the python keywords.

In [16]:
print=12
print(print)

TypeError: 'int' object is not callable

In [17]:
int = 2
print(int)

TypeError: 'int' object is not callable

# Data Type in python

In [4]:
a = 9
b = 3.4
c = "My Name is Abhay"

print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

9
<class 'int'>
3.4
<class 'float'>
My Name is Abhay
<class 'str'>

In [5]:
b = [1,2,3,4]
print(b)
print(type(b))

[1, 2, 3, 4]
<class 'list'>

In [6]:
num =3+4j
print(num)
print(type(num))

(3+4j)
<class 'complex'>

In [7]:
c = (2,3,5)
print(c)
print(type(c))

(2, 3, 5)
<class 'tuple'>

In [8]:
num1 = True
print(num1)
print(type(num1))

True
<class 'bool'>

In [9]:
num2 = False
print(num2)
print(type(num2))

False
<class 'bool'>

# Practice Question

Que.1

"Imagine you're working on a customer management system, and you have the first name and last name of a customer stored as separate variables. You're developing a customer management system for a retail store. In your database, you have the first name and last name of a customer stored as separate variables: first_name = "John" and last_name = "Doe". How would you concatenate these strings to form the full name John Doe for the customerâ€™s profile?"

In [16]:
first_name ="John"
last_name = "Doe"

full_name =first_name + " "+last_name
print(full_name)

John Doe