#  Arthematic operator

Addition

In [28]:
a = 1
b = 3
print(a+b)

4

In [29]:
x = 1.5 #float values
y = 2.5
print(x+y)

4.0

In [30]:
a1 = "hello"
b1 = "students"
print(a1+b1)

hellostudents

In [31]:
a1 = "hello"    #string
b1 = "students"
print(a1+" "+b1)

hello students

In [32]:
x1 = 2+3j  #complex number
y1 = 1+5j
print(x1+y1)

(3+8j)

In [33]:
w1 = -5
w2 = 3
print(w1+w2)

-2

Subtraction operator

In [34]:
num1 = 8
num2 = 3
print(num1 - num2)

5

In [35]:
a4 = 5.67
b4 = 5.65
print(a4-b4)

0.019999999999999574

In [36]:
a ="hello"   #cant support string in subtraction operator
b = "students"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
a1=5+9j
c1=3+5j
print(a1-c1)

(2+4j)

Multiplication

In [ ]:
n  = 3
b = 5
print(n*b)

15

In [ ]:
n1 = 3.4556860444566
b1 = 5.8694375946643345
print(n1*b1)

20.282933584690454

In [ ]:
str = "hello"
print(str*5)

hellohellohellohellohello

In [ ]:
str1 = "hello" # cant multiply two string
str2 = "word"
print(str1*str2)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
a1 = 2+3j
b1 = 3+4j
print(a1*b1)

(-6+17j)

# Division

In [ ]:
a = 15
b = 3
print(a/b)

5.0

In [ ]:
a1 = 1529485.584783
b1 = 23.494758304
print(a1/b1)

65099.01336259347

In [ ]:
v1 = 2+3j
v2 =1+2j
print(v1/v2)

(1.6-0.2j)

In [ ]:
str1 = "hello" # cant divide two string
str2 = "word"
print(str1/str2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# Modulous

In [ ]:
print(12%3)

0

In [ ]:
print(19%5)

4

In [ ]:
print(2347758958549444%85)

39

In [ ]:
a1 = 495.5944
b1 = 2.4
print(a1%b1)

1.1944000000000257

In [ ]:
a1 = 5+3j
b1 = 3+2j
print(a1%b1)

TypeError: unsupported operand type(s) for %: 'complex' and 'complex'

# flour division

In [ ]:
print(12//3)

4

In [ ]:
print(475847388//45)

10574386

In [ ]:
print(5.2%28)

5.2

# Exponent

In [ ]:
a = 3
b = 2
print(a**b)

9

In [ ]:
print(384848785**3)

56999409876619861280136625

In [ ]:
w = 60
h = 5
v = h**2
print(w/v)

2.4

In [ ]:
print(5.5835855**2)

31.17642703581025

# Boolean operator

In [ ]:
a = True
print(type(a))

<class 'bool'>

In [ ]:
a1 = True
print(type(a))

<class 'bool'>

# comparison operator

used to compare values.These operator True  or False based on whether the comparison is true or false

Equal to ==

In [ ]:
x = 5
y = 6
print(x==y)

False

In [ ]:
x = 3
y = 3
print(x==y)

True

not equal to !=

In [ ]:
x = 3
y = 3
print(x!=y)

False

In [ ]:
x = 3
y = 5
print(x!=y)

True

# Greater than >

In [ ]:
x = 5
y = 3
print(x>y)

True

In [ ]:
x = 5
y = 9
print(x>y)

False

# Less than <

In [ ]:
print(174<57)

False

# Greater than equal to >=

In [ ]:
x = 5
y = 5
print(x>=y)

True

# less than equal to <=

In [38]:
x = 5
y = 5
print(x<=y)

True

# Logical operator

In [39]:
x = True
y = False
print(x and y)

False

In [40]:
x = True
y = False
print(x or y)

True

In [41]:
x = True
print(not  x)

False

In [ ]:
x = False
print(not x)

True

# Practice question

Question 1.

 You have a data containing two record: "Quantity" and "Price per Unit". How would you use arithmetic operators to calculate the total cost for each item, also calculate the total cost?
product 1, Quantity - 5 , Price per Unit - Rs 250
product 2, Quantity - 25 , Price per Unit - Rs 656
product 3 ,Quantity - 34, Price per Unit - Rs 274

In [56]:
product_1 = 5*250
product_2 = 25*656
product_3 = 34*274

print("The price of product 1 is" ,product_1)
print("The price of prodict 2 is " ,product_2)
print("The price of prodict 3 is " ,product_3)

print("The Total price customer need to pay is ",product_1 + product_2 +product_3)

The price of product 1 is 1250
The price of prodict 2 is  16400
The price of prodict 3 is  9316
The Total price customer need to pay is  26966

Question 2.

In a finance-based organization, the task is to calculate the simple interest given the principal amount, interest rate, and time period. The interest rate is 8%, the principal amount is Rs 15,00,000, and the time period is 3 years. Calculate the simple interest. Also, the threshold amount is Rs 1,20,000. Please check if the calculated interest is greater or less than the threshold amount.

In [ ]:
p = 1500000
r = 8
t = 3
threshold = 120000
SI = (p*r*t)/100

print("The simple interest is",SI)
comp = SI > threshold
print(comp)
print("The value of simple interst id gretter than threshold")

The simple interest is 360000.0
True
The value of simple interst id gretter than threshold

Question 3. H.W

write a python program  to calculate the area of circle  with radius  of 12 cm

In [65]:
r = 12
Area = 3.14*r*r
print("Area of circle is", Area)

Area of circle is 452.15999999999997

In [1]:
r = 12
Area = 3.14*r*r
print("Area of circle is", Area)

Area of circle is 452.15999999999997

In [2]:
r = 12
Area = 3.14*r*r
print("Area of circle is", Area)r = 12
Area = 3.14*r*r
print("Area of circle is", Area)

SyntaxError: invalid syntax (3342537457.py, line 3)