#  Arthematic operator

Addition

In [1]:
a = 1
b = 3
print(a+b)

4

In [ ]:
x = 1.5 #float values
y = 2.5
print(x+y)

4.0

In [3]:
a1 = "hello"
b1 = "students"
print(a1+b1)

hellostudents

In [ ]:
a1 = "hello"    #string
b1 = "students"
print(a1+" "+b1)

hello students

In [ ]:
x1 = 2+3j  #complex number
y1 = 1+5j
print(x1+y1)

(3+8j)

In [10]:
w1 = -5
w2 = 3
print(w1+w2)

-2

Subtraction operator

In [14]:
num1 = 8
num2 = 3
print(num1 - num2)

5

In [15]:
a4 = 5.67
b4 = 5.65
print(a4-b4)

0.019999999999999574

In [17]:
a ="hello"   #cant support string in subtraction operator
b = "students"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [18]:
a1=5+9j
c1=3+5j
print(a1-c1)

(2+4j)

Multiplication

In [19]:
n  = 3
b = 5
print(n*b)

15

In [20]:
n1 = 3.4556860444566
b1 = 5.8694375946643345
print(n1*b1)

20.282933584690454

In [23]:
str = "hello"
print(str*5)

hellohellohellohellohello

In [ ]:
str1 = "hello" # cant multiply two string
str2 = "word"
print(str1*str2)

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
a1 = 2+3j
b1 = 3+4j
print(a1*b1)

(-6+17j)

# Division

In [26]:
a = 15
b = 3
print(a/b)

5.0

In [27]:
a1 = 1529485.584783
b1 = 23.494758304
print(a1/b1)

65099.01336259347

In [28]:
v1 = 2+3j
v2 =1+2j
print(v1/v2)

(1.6-0.2j)

In [30]:
str1 = "hello" # cant divide two string
str2 = "word"
print(str1/str2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# Modulous

In [32]:
print(12%3)

0

In [33]:
print(19%5)

4

In [34]:
print(2347758958549444%85)

39

In [35]:
a1 = 495.5944
b1 = 2.4
print(a1%b1)

1.1944000000000257

In [37]:
a1 = 5+3j
b1 = 3+2j
print(a1%b1)

TypeError: unsupported operand type(s) for %: 'complex' and 'complex'

# flour division

In [40]:
print(12//3)

4

In [42]:
print(475847388//45)

10574386

In [43]:
print(5.2%28)

5.2

# Exponent

In [46]:
a = 3
b = 2
print(a**b)

9

In [48]:
print(384848785**3)

56999409876619861280136625

In [51]:
w = 60
h = 5
v = h**2
print(w/v)

2.4

In [52]:
print(5.5835855**2)

31.17642703581025

# Boolean operator

In [53]:
a = True
print(type(a))

<class 'bool'>

In [54]:
a1 = True
print(type(a))

<class 'bool'>

# comparison operator

used to compare values.These operator True  or False based on whether the comparison is true or false

Equal to ==

In [55]:
x = 5
y = 6
print(x==y)

False

In [56]:
x = 3
y = 3
print(x==y)

True

not equal to !=

In [57]:
x = 3
y = 3
print(x!=y)

False

In [58]:
x = 3
y = 5
print(x!=y)

True

# Greater than >

In [59]:
x = 5
y = 3
print(x>y)

True

In [60]:
x = 5
y = 9
print(x>y)

False

# Less than <

In [61]:
print(174<57)

False

# Greater than equal to >=

In [62]:
x = 5
y = 5
print(x>=y)

True

# less than equal to <=

In [63]:
x = 5
y = 5
print(x<=y)

True