# Build in Function

Float function

In [9]:
# change int to float
num_1 = 10
print(type(num_1))

a = float(num_1)
print(a)
print(type(a))

<class 'int'>
10.0
<class 'float'>

In [10]:
# change str to float
a = "3.14"
print(type(a))
b = float(a)
print(b)
print(type(b))

<class 'str'>
3.14
<class 'float'>

Int function

In [16]:
a = 5.3444
print(type(a))
c = int(a)
print(c)
print(type(c))

<class 'float'>
5
<class 'int'>

In [17]:
a ="22"
print(type(a))
b = int(a)
print(b)
print(type(b))

<class 'str'>
22
<class 'int'>

Str function

In [18]:
a = 56
print(type(a))
b = str(a)
print(b)
print(type(b))

<class 'int'>
56
<class 'str'>

In [22]:
a = 56
print(type(a))
b = str(a)
print(b)
print(type(b))
c = "2"
print(b+c)
print(a+2)

<class 'int'>
56
<class 'str'>
562
58

In [26]:
x = 5.2654355
print(type(x))
y = str(x)
print(y)
print(type(y))

<class 'float'>
5.2654355
<class 'str'>

complex function

In [27]:
comp = complex(2,3)
print(comp)

(2+3j)

In [28]:
y = complex(6,89)

In [29]:
print(y)

(6+89j)

abs function = its always return possitive value

In [31]:
x = -23
print(abs(x))

23

In [32]:
y = -2.34556
print(abs(y))

2.34556

In [33]:
z = -3+4j
print(abs(z))

5.0

len function

In [35]:
a = "Hello i am your educator swati"
print(len(a))

30

In [37]:
b = "cat dog"
print(len(b))

7

In [39]:
c = [12,3,4,7,3,6]
print(len(c))

6

practice question

que 1.

 In a game application, the player's score is stored as a floating-point number. However, for leaderboard display, you need to convert the score to an integer.
How would you use the int() function to convert the player's score from floating-point to integer format?
pls solve this with code, player score = 1234.56

In [44]:
player_score = 1234.56
print("The player score is", int(player_score))

The player score is 1234

Que 2.

In a customer relationship management (CRM) system for a retail company, you have a database containing customer records. How would you use the len() function to find the total number of customers in the database, allowing the company to track its customer base?

customer_database = [
    (1, 'John Doe'     , 'john@example.com'),
    (2, 'Jane Smith'   , 'jane@example.com'),
    (3, 'Alice Johnson', 'alice@example.com'),
]

In [45]:
customer_database = [
    (1, 'John Doe'     , 'john@example.com'),
    (2, 'Jane Smith'   , 'jane@example.com'),
    (3, 'Alice Johnson', 'alice@example.com'),
]

print("The total number of customer in the databaes is",len(customer_database))

The total number of customer in the databaes is 3

Que 3.

You're developing a financial application that calculates simple interest.
The principal amount is 250000 Rs, the interest rate is 9.34567%, and the time period is 3 years. Calculate the Simple Interest (SI), and the final value should be an integer.

In [58]:
p = 250000
r = 9.34567
t = 3
 
SI= ((p*r*t)/100)
print("simple interest is",SI)

SI =int(SI)
print("The integer value is",SI)

simple interest is 70092.525
The integer value is 70092